body * {
    font-family: 'Roboto', sans-serif;
}
.video-tab span{
    display: none;
}
.video-tab span.active{
    display: block !important;
}
.container {
    padding: 15px;
}

.jumbotron {
    margin: 15px;
}

/*.notification {*/
    /*transform: translateX(-50%);*/
    /*left: calc(50% + 150px);*/
    /*display: flex;*/
    /*position: fixed;*/
    /*bottom: 10%;*/
    /*margin: auto;*/
    /*background: rgba(0, 0, 0, 0.6);*/
    /*color: #fff;*/
    /*padding: 4px 30px;*/
    /*border-radius: 5px;*/
    /*opacity: 0;*/
    /*transition: all 0.7s;*/
    /*z-index: 100000;*/
/*}*/

/******************  < Панель управления > ***************/

/*.map_preview #map .ymaps-2-1-72-map{*/
    /*height: 100% !important;*/
/*}*/
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353dc7; /*##2e353d; */
    position: fixed;
    top: 0px;
    left: 0;
    width: 200px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #3da5d1;
    /*border-left: 3px solid #d19b3d;*/
    background-color: #4f5b69;
}

.copter_action_list.active {
    padding: 5px;
}


.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c2063;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    text-align: center;
    margin: 5px;
}

/*.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 35px;
    padding-top: 0px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #3da5d1;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
    /*background: #2e353dc7;*/
}

.controll-pane {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
}

.controll-pane #map {
    width: 100%;
    height: 100%;
}

.bottom-pane {
    display: none;
    position: fixed;
    left: 200px;
    width: 533px;
    height: 300px;
    top: calc(100% - 180px);
    height: 180px;
}

.bottom-pane.active {
    display: flex;
}

.bottom-pane .panel.drone-tab {
    margin: 15px;
}

.bottom-pane .fa {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
    width: 35px;
    color: #286090;
}

table th {
    width: 150px;
}

.statistic-value {
    padding: 0px 10px;
    text-align: center;
    display: flex;
    flex-flow: row;
    /*max-width: 190px;*/
    max-width: 280px;
    padding: 5px;
    justify-content: space-between;
}

.statistic-value .first-child {
    margin-right: 10px;
}

/*.statistic-value div:nth-child(1){*/
/*padding-bottom: 5px;*/
/*}*/
.col-4-stats {
    display: flex;
    flex-flow: column;
}

.col-4-stats .row1 {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.col-4-stats .row2 {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

/*table:nth-child(1){*/
/*width: 150px;*/
/*}*/
.copter_stats {
    display: none;
}

.copter_stats.active {
    display: block;
}

.copter_action_list {
    display: none;
}

.copter_action_list.active {
    display: block;
}

/* < .menu_pane > */
.routes_tab {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #00000078;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 250px;
    height: 100%;
    color: #e1ffff;
    display: none !important;
}

.routes_tab.active {
    display: block !important;
}

.routes_tab .routes_tab_buttons {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.routes_tab .routes_tab_points {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.routes_tab .routes_tab_points .point {
    margin: 5px;
}
/*.routes_tab .routes_tab_points .point:active:hover{*/
    /*background: !important;*/
/*}*/

.routes_tab_buttons .btn-danger {
    margin: 5px;
}

.routes_tab .close_btn .fa-times-circle {
    cursor: pointer;
    font-size: 26px;
    text-align: right;
    width: 100%;
    padding-right: 10px;
    padding-top: 5px;
}

.routes_tab .routes_tab_title {
    font-size: 18px;
    margin: 14px 0px;
    text-align: center;
}

.routes_tab_buttons .build_route {
    margin: 5px;
}

/* </ .menu_pane > */
/********************** Стили точек *************************/

.point[data-status='0'] {
    background: #4ec9c9b3;
    border: none;
    color: black;
    font-size: 14px;
}

.point[data-status='0'] .progress-bar .progress-bar-fill {
    width: 0% !important;
}

.point[data-status='0'] .progress-bar {
    width: 100%;
    background: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.point[data-status='1'] {
    background: #4ec9c9b3;
    border: none;
    color: black;
    font-size: 14px;
}

.point[data-status='1'] .progress-bar .progress-bar-fill {
    width: 0% !important;
}

.point[data-status='1'] .progress-bar {
    width: 100%;
    background: transparent;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.point[data-status='2'] {
    background: SeaGreen;
    border: none;
    color: black;
    font-size: 14px;
}

.point[data-status='1'] .progress-bar .progress-bar-fill {
    width: 0% !important;
}

.point[data-status='3'] {
    background: #ffe4b5b3;
    border: none;
    color: black;
    font-size: 14px;
}

.point[data-status='3'] .progress-bar .progress-bar-fill {
    width: 100% !important;
}

.point[data-status='4'] {
    background: #e5b0b0;
    border: none;
    color: black;
    font-size: 14px;
}

.point[data-status='4'] .progress-bar .progress-bar-fill {
    width: 100% !important;
}

.point[data-status] {
    opacity: 1;
    /*text-shadow: 0px 0px 25px black, 0px 0px 28px black;*/
    color: white;
    font-weight: bold;
    width: 80%;
    padding: 5px !important;
}

.point_procent {
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0;
    background: #1b6d85;
}


/*******************************POINT PROGRESS*******************************/
.wrapper {
    width: 500px;
}


.progress-bar-fill {
    box-shadow: 0px 0px 2px 0px black;
    width: 0%;
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

.progress-bar-fill span {
    position: absolute !important;
    left: calc(50% - 68px) !important;
    margin-top: 1px;
    color: #3f3f3f !important;
}

.progress-bar {
    text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 2px black;
    font-size: 15px;
    width: 100%;
    background-color: transparent;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.fancybox.fancybox-content {
        background: transparent !important;
        position: fixed;
        left: 25%;
        bottom: 0px;
        width: 100%;
        padding: 0px !important;
        text-align: center;
}

.fancybox.fancybox-content {
    background: transparent !important;
    position: fixed;
    left: 0 !important;
    bottom: 0px;
    width: 100%;
    padding: 0px !important;
}
.fancybox.fancybox-content img {
    width: 60% !important;
}

.fancybox.fancybox-content .fancybox-close-small {
    background: white !important;
    border-radius: 66px !important;
}
.fancybox-bg{
    display:  none !important;
}
/*.fancybox-slide{*/
    /*left: 100% !important;*/
    /*background: transparent !important;*/
/*}*/
/*.fancybox-stage{*/
    /*left: 100% !important;*/
    /*background: transparent !important;*/
/*}*/
.video-tab {
    display: none;
    /*width: 366px;*/
    width: 27%;
    position: fixed;
    right: 260px;
    top: 10px;
}

.fancybox-content img {
    width: 100%;
}

.video-tab img {
    width: 100%;
    background-image: url('/media/no_capture.png');
    background-color: #00000029;
    background-position: center;
    height: auto;
    background-size: 140px;
    background-repeat: no-repeat;
}

.video-tab.active {
    display: block;
}

.routes_tab.active ~ .video-pane .video-tab {
    right: 225px;
}

.routes_tab_buttons_additional {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.routes_tab_buttons_additional .btn_slider {
    width: 100%;
    border-radius: 0px;
    background: #6ea98c;
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    border: none;
}

.routes_tab_buttons_additional .btn_slider:active, .routes_tab_buttons_additional .btn_slider:focus {
    width: 100%;
    border-radius: 0px;
    background: #60947b;
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    border: none;
}

.btn_roi_waypoint {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-flow: column;
    width: 140px;
    background: transparent !important;
    border: none !important;
    border-color: unset !important;
}

.fas.fa-toggle-off {
    padding-left: 7px;
    font-size: 20px;
}

.fas.fa-toggle-on {
    padding-left: 7px;
    font-size: 20px;
}

.routes_tab_buttons_additional .btn-group {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: solid 3px #6ea98c;
    border-radius: 0px;
}

.btn-default:not(.btn_slider), .btn-danger {
    border-radius: 4px !important;
}

.btn-group .btn {
    margin-top: 5px;
}

.btn-group .btn:first-child {
    margin-top: 0px;
}

.fa-map-marker-alt {
    color: white !important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
    opacity: 0;
}

.copter-icon {
    width: 30px;
    margin: 0px 10px;
    height: auto;
    float: left;
}

.copter-list-item {
    display: flex;
    flex-flow: row;
    align-items: center;
}

/******************  </ Панель управления /> ***************/

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    border-color: transparent !important;
}


/* Уведомления */
.notification_wrapper {
    position: fixed;
    right: 286px;
    bottom: 30px;
    float: left;
    z-index: 1060;
    display: flex;
    flex-flow: column;
}
.notification {
    font-family: 'Arial' !important;
    font-size: 16px;
    position: relative;
    border: unset;
    padding: 5px 20px;
    border-radius: 1px;
    font-weight: bold;
    color: white;
}
.notification.info {
    margin: 5px 0px;
    background-color: #7f7eff;
    max-width: 300px;
    height: auto;
    word-break: break-word;
}

.notification.warning {
    background-color: #c22b2b;
    margin: 5px 0px;
    max-width: 300px;
    height: auto;
    word-break: break-word;
}

.notification.success {
    background-color: #3d9d3d;
    margin: 5px 0px;
    margin: 5px 0px;
    max-width: 300px;
    height: auto;
    word-break: break-word;
}

